{% extends "home-base.html" %}

{% block title %}
Add Director
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-user" aria-hidden="true"></i> Add Director:</h1>
   <form action="/director/add" method="post">
     <div class="form-group">
     <label>First Name</label>
     <input class="form-control" type="text" name="first_name" placeholder="First Name of the Director" required="true">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <textarea class="form-control" name="last_name" placeholder="Last Name of Director" required="true"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Director</button>
   </form>
 </div>
{% endblock %}
